.tree ul {
    list-style-type: none;
    padding: 0;
}

.tree ul:not(:first-child) {

}

.tree ul:not(:first-child) li {
    padding-left: 15px;
    border-left: 2px solid #CCC;
    margin-bottom: 10px;
}

.tree ul:not(:first-child) li div {
    margin-bottom: 10px;
}

.tree .top-level {
    text-transform: uppercase;
}

.uk-form .uk-grid {
    margin-top: 10px;
}

.uk-form .uk-form-label {
    margin-top: 5px;
}

.static-value {
    padding-left: 0;
    margin-top: 5px;
}

.uk-error {
    padding-left: 0;
    margin-top: 5px;
}